@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src:  local('Roboto') url('/static/fonts/Roboto-Regular.ttf') format('truetype');
  }
  
  @font-face {
    font-family: 'H74 Capsule';
    src: local('H74 Capsule') url('/static/fonts/HCapsule-Black.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'H74 Capsule SemiExpanded';
    src: local('H74 Capsule SemiExpanded') url('/static/fonts/HCapsule-SemiExpanded.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
}

html {
  scroll-behavior: smooth;
}
